- page_title _("IDE"), @project.full_name

- unless use_new_web_ide?
  - add_page_specific_style 'page_bundles/build'
  - add_page_specific_style 'page_bundles/ide'

  - content_for :prefetch_asset_tags do
    - webpack_preload_asset_tag('monaco')

= render partial: 'shared/ide_root', locals: { data: ide_data(project: @project, branch: @branch, path: @path, merge_request: @merge_request, fork_info: @fork_info), loading_text: _('Loading the GitLab IDE...') }
